.DS_Store
.env
.env.*
.vercel
!.env.example
/.svelte-kit
/build
/package
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# edgeDB
.edgeql
**/*.edgeql.ts
*.edgeql
interfaces.ts
dbschema/queries.*
