.DS_Store
.edgeql
.env
.env.*
.vercel
**/*.edgeql.ts
!.env.example
/.svelte-kit
/build
/package
dbschema/interfaces.ts
dbschema/queries.*
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


