html,
body {
	@apply h-full;
	/* @apply h-full overflow-hidden; */
}

body {
	background: white;
	@apply dark:bg-surface-700;
}

fieldset {
	@apply border border-surface-400-500-token focus:border-surface-400-500-token rounded-lg px-3 pb-2;
}

h1 {
	@apply font-semibold;
}

.esp-card {
	@apply card p-4 bg-white text-token space-y-4 mt-3 rounded-lg;
}
.esp-card-modal {
	@apply card p-4 bg-white text-token space-y-4;
}
