html,
body {
	@apply h-full;
	/* @apply h-full overflow-hidden; */
}

body {
	background: whitesmoke;
	@apply dark:bg-surface-700;
}

fieldset {
	@apply border border-surface-400-500-token focus:border-surface-400-500-token rounded-lg px-3 pb-2;
}

h1 {
	@apply font-semibold;
}

.esp-card {
	@apply bg-white p-4;
}

.esp-card-space-y {
	@apply bg-white p-4;
	@apply space-y-5;
}
